body{
    margin:0;
    font-family: 'Inter', sans-serif;
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url('https://images.pexels.com/photos/460633/pexels-photo-460633.jpeg')
    center/cover no-repeat;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.auth-container{
    width:100%;
    display:flex;
    justify-content:center;
}

.auth-card{
    width:350px;
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(20px);
    padding:40px;
    border-radius:20px;
    color:white;
    box-shadow:0 20px 50px rgba(0,0,0,0.6);
}

.form-control{
    height:50px;
    border-radius:12px;
}

.btn-premium{
    background:#ffc107;
    border:none;
    border-radius:50px;
    padding:12px;
    font-weight:600;
    transition:0.3s;
}

.btn-premium:hover{
    transform:scale(1.05);
    box-shadow:0 0 20px #ffc107;
}

a{
    color:#ffc107;
    text-decoration:none;
}
